<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'historial.css' %}">
        <!--
        <link rel="stylesheet" href="{% static 'bootstrap-5.0.0-beta1-dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>-->
    
    <!---->
        <!---->
<!---->
        <title>BendingLoss Sensor Online | About </title>
    </head>
    <body>
        <div class="menu">
            <img src="{% static 'fcfm.png' %}" alt="" class="logo">
            <button class="menu-button" onclick="location.href='/calibration'">Calibration</button>
            <button class="menu-button" id="weigh-button">Weigh</button>
            <button class="menu-button" onclick="location.href='/history'">History</button>
            <button class="menu-button" onclick="location.href='/'">About us</button>
            
        </div>
        <div style="width: 70%; margin: 0 auto;">
            <p><b> Our Application</b></p>
            <p>This web application is designed to measure the weight of objects in real-time using a fiber optic sensor. By connecting the USB the app can read the serial port from the browser, the application captures and visualizes measurement data interactively and accurately.</p>
            <p><b>How It Works</b></p>
            <p></p>
            <p>Calibration:
            Calibration is the essential first step to ensure measurement accuracy.
            In the calibration tab, the system starts capturing data from the sensor to determine the stable voltage when the scale is unloaded (0 kg).
            This reference value is crucial as all subsequent measurements will use this stable voltage as a baseline to calculate weight changes.
            </p>

            <p>Real-Time Weighing:
            Once calibration is completed, users can proceed to the weighing tab.
            During this phase, the application uses the previously determined stable voltage to calculate the decibels (dB) corresponding to the weight of the object placed on the scale.
            Results are graphed in real-time, providing an immediate visualization of weight variations.
            </p>
            <p>History:
            To facilitate analysis and review, the application allows users to save the graphs generated during measurements.
            Saved graphs can be reviewed in the history tab, offering a comprehensive view of past measurements and allowing comparisons between different weighing sessions.
            </p>

            <p>You can also use this app to display real time data of any microcontroler programmed to send data from the serial port at a baudrate of 9600</p>
        </div>
        <script src="{% static 'inicio.js' %}"></script>
    </body>
</html>