

<div class="app-container">
  <router-outlet></router-outlet>
  <div class="tabs-container">
    <button class="boton-tab" routerLink="/settings"><i class="fa-solid fa-gear fa-xl"></i></button>    
    <button class="boton-tab" routerLink="/measurement"><i class="fa-solid fa-ruler fa-xl"></i></button>
    <button class="boton-tab" routerLink="/data"><i class="fa-solid fa-database fa-xl"></i></button>  
    <button class="boton-tab" routerLink="/visualization"><i class="fa-solid fa-chart-line fa-xl"></i></button>  
  </div>
</div>
